{
    "presets": [
        [
            "@babel/preset-env",
            {
              "targets": {
                "esmodules": true
              }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties"],
        "@babel/transform-runtime",
        "@babel/transform-react-constant-elements",
        "@babel/transform-react-inline-elements"
    ]
}
